// Colours
$color-primary: #ff6b6b;   // Main colour (buttons)
$color-text: #333333;      // Main text
$color-bg: #ffffff;        // Site bg
$color-grey: #f4f4f4;      // Card bg
$color-secondary: #999999;
$color-white: #ffffff;

// Fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Roboto', sans-serif;

// Container height
$container-width: 1220px;