@import '_variables';
@import '_reset';
@import 'blocks/_header';
@import 'blocks/_intro';
@import 'blocks/_about';
@import 'blocks/_reviews';
@import 'blocks/_destinations';
@import 'blocks/_blog';
@import 'blocks/discount';

body {
    font-family: $font-main;
    color: $color-text;
    background-color: $color-bg;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
}

.module {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 60px;

    &__title {
        font-family: $font-title;
        font-size: 50px;
        font-weight: 500;
        color: $color-text;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    &__subtitle {
        font-size: 16px;
        color: $color-secondary;
        line-height: 1.6;
        margin-bottom: 40px;
    }
}

.card {
    background-color: $color-white;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 30px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;

    &:hover {
        transform: translateY(-10px); 
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); 
        border-color: transparent;
    }

    // &__title {

    // }

    // &__text {}
}

.wrap {
    padding-top: 100px;
    background-color: $color-bg;
}

.btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: #ffc107;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 30px;
    text-transform: capitalize;
    transition: all 0.3 ease;

    &:hover {
        background-color: #e0a800;
        // transform: translate(-3px);
    }
}