html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #333333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 30px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.header__link:hover {
  color: #ffc107;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__phone {
  width: 20px;
  height: 20px;
}
.header__number {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

.intro {
  height: 100vh;
  min-height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}
.intro__content {
  max-width: 800px;
}
.intro__title {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.intro__subtitle {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 300;
}
.intro__btn {
  display: inline-block;
  padding: 15px 40px;
  background-color: #ffc107;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  text-transform: capitalize;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.intro__btn:hover {
  background-color: #e0a800;
}
.intro__video {
  position: absolute;
  bottom: 50px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  padding: 100px 0;
  background-color: #ffffff;
}
.about__desc {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px;
}
.about__h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #333333;
}
.about__desc .about__p {
  font-size: 14px;
  color: #999;
  line-height: 1.8;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 280px;
  text-align: center;
}
.about__img {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 25px;
  -o-object-fit: contain;
     object-fit: contain;
}