.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.about {
    padding: 100px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}