html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #333333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 30px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.header__link:hover {
  color: #ffc107;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__phone {
  width: 20px;
  height: 20px;
}
.header__number {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

.intro {
  height: 100vh;
  min-height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}
.intro__content {
  max-width: 800px;
  position: relative;
  bottom: 30px;
}
.intro__title {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.intro__subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}
.intro__video {
  position: absolute;
  bottom: 5%;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.intro__video:hover {
  opacity: 0.8;
}
.intro__play-btn {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro__play-btn__background {
  width: 100%;
  height: auto;
  display: block;
}
.intro__video-text {
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.intro__video-text span {
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.intro__video-text strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.about__header {
  margin-bottom: 60px;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
}
.about__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 300px;
  padding-bottom: 50px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.about__card .card__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.about__card .card__text {
  font-size: 14px;
  color: #999999;
  line-height: 1.6;
  margin: 0;
}
.about__card .card__icon {
  height: 40px;
  width: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-block;
}

.reviews__header {
  margin-bottom: 50px;
  text-align: center;
}
.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
.reviews__photo {
  width: 190px;
  height: 190px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  background-color: #ccc;
  overflow: hidden;
}
.reviews__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.reviews__text {
  font-size: 15px;
  color: #999999;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: left;
}
.reviews__name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ff6b6b;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.reviews__location {
  display: block;
  font-size: 14px;
  color: #333333;
}
.reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destinations .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.destinations .search__wrap {
  position: relative;
  width: 100%;
  max-width: 440px;
  margin-left: 33%;
}
.destinations .search__input {
  width: 100%;
  height: 55px;
  padding: 0 20px 0 55px;
  border: none;
  background-color: #fff;
  font-family: inherit;
  font-size: 16px;
  color: #333;
  outline: none;
}
.destinations .search__input::-webkit-input-placeholder {
  color: #999;
}
.destinations .search__input::-moz-placeholder {
  color: #999;
}
.destinations .search__input:-ms-input-placeholder {
  color: #999;
}
.destinations .search__input::-ms-input-placeholder {
  color: #999;
}
.destinations .search__input::placeholder {
  color: #999;
}
.destinations .search__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.5;
  pointer-events: none;
}
.destinations__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.destinations__item {
  width: calc((100% - 60px) / 3);
}
.destinations__link {
  display: block;
  text-decoration: none;
}
.destinations__img-box {
  position: relative;
  height: 280px;
  overflow: hidden;
}
.destinations__img-box:hover .destinations__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.destinations__img-box:hover .destinations__overlay {
  background-color: rgba(0, 0, 0, 0.2);
}
.destinations__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.destinations__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 1;
}
.destinations__name {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 2;
  pointer-events: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.blog__info {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 280px 30px 280px 30px 280px;
  grid-template-rows: repeat(3, 280px);
  gap: 30px;
}

.blog__info > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.blog__info > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.blog__info > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.blog__info > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.blog__info > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.blog__info > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.blog__info > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.blog__info > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.blog__info > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.blog__info > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.blog__info > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.blog__info > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.blog__item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
}
.blog__item-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
}
.blog__item-3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/span 1;
}
.blog__item-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/span 1;
}
.blog__item-5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/span 1;
}
.blog__item-6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/span 2;
}
.blog__card {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.blog__card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.blog__card--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog__card--column .blog__desc,
.blog__card--column .blog__box {
  width: 100%;
  height: 50%;
}
.blog__card--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.blog__card--row .blog__desc,
.blog__card--row .blog__box {
  width: 50%;
  height: 100%;
}
.blog__box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.blog__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.blog__desc {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog__title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
  line-height: 1.3;
}
.blog__subtitle {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog__content {
  margin-top: 40px;
}

.discount {
  background-color: #ffc107;
}
.discount__content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discount__title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}
.discount__btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: capitalize;
}
.discount__btn:hover {
  background-color: #fff;
  color: #ffc107;
  border-color: #fff;
}

.footer {
  padding: 80px 0 50px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}
.footer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22%;
}
.footer__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
}
.footer__link {
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 1.6;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__link--wrap {
  max-width: 150px;
}
.footer__link:hover {
  color: #ffc107;
}
.footer__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.footer__icon {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.footer__icon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.footer__copyright {
  text-align: center;
}
.footer__copyright__subtitle {
  font-size: 12px;
  color: #999;
  margin: 0;
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.module {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 60px;
}
.module__title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.module__subtitle {
  font-size: 16px;
  color: #999999;
  line-height: 1.6;
  margin-bottom: 40px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.wrap {
  padding-top: 100px;
  background-color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 15px 40px;
  background-color: #ffc107;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  text-transform: capitalize;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.btn:hover {
  background-color: #e0a800;
}

.grey-line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 60px;
  margin-bottom: 30px;
}