.about {
    padding: 100px 0;
    background-color: $color-bg;

    &__desc{
        text-align: center;
        max-width: 800px;
        margin: 0 auto 60px;
    }

    &__h2 {
        font-family: $font-title;
        font-size: 36px;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 20px;
        color: $color-text;
    }

    &__desc .about__p {
        font-size: 14px;
        color: #999;
        line-height: 1.8;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__card {
        flex: 1;
        min-width: 280px;
        text-align: center;
    }

    &__img {
        max-width: 60px;
        max-height: 60px;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 25px;
        object-fit: contain;
    }
}