.about {
    padding: 100px 0;
    background-color: $color-bg;

    &__header {
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }

    &__card {
        flex: 1;
        text-align: left;
        max-width: 300px;
        max-height: 300px;
        width: 100%;
        height: 300px;
        padding-bottom: 50px;
        overflow: hidden;
        box-sizing: border-box;
    }

    &__icon {
        height: 40px;
        width: auto;
        margin-bottom: 30px;
        margin-top: 30px;
        display: inline-block;
    }

    &__card-title {
        font-family: $font-title;
        font-size: 18px;
        font-weight: 700;
        color: $color-text;
        margin-bottom: 12px;
        text-transform: capitalize;
    }

    &__card-text {
        font-size: 14px;
        color: $color-secondary;
        line-height: 1.6;
        margin: 0;
    }
}