.destinations {
    &__header {
        margin-bottom: 60px;
    }

    &__search {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    &__search-wrap {
        position: relative;
        width: 100%;
        max-width: 400px;
    }

    &__input {
        width: 100%;
        height: 50px;
        padding: 0 20px 0 50px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        font-family: $font-main;
        font-size: 14px;
        color: $color-text;
        outline: none;

        &::placeholder {
            color: $color-secondary;
        }

        &:focus {
            border-color: $color-primary;
        }
    }

    &__search-icon {
        position: absolute;
        left: 20px;
        top: 50px;
        transform: translate(-50%);
        width: 18px;
        height: 18px;
        opacity: 0.5;
        pointer-events: none;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__item {
        width: 33%;
        padding: 0 14px;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    &__img-box {
        position: relative;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 14px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}