.discount {
    background-color: #ffc107;

    &__content {
        padding: 50px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        margin: 0;
        line-height: 1.2;
    }

    &__btn {
        background-color: transparent; 
        border: 2px solid #fff;
        color: #fff;
        text-transform: capitalize;
        
        &:hover {
            background-color: #fff;
            color: #ffc107;
            // transform: translateY(-3px);
            border-color: #fff;
        }
    }
}