.intro {
    height: 100vh;
    min-height: 600px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                        url('https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #fff;
    position: relative;

    &__content {
        max-width: 800px;
    }

    &__title {
        font-family: $font-title;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    &__subtitle {
        font-size: 20px;
        margin-bottom: 40px;
        font-weight: 300;
    }

    &__btn {
        display: inline-block;
        padding: 15px 40px;
        background-color: #ffc107;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        border-radius: 30px;
        text-transform: capitalize;
        transition: all 0.3 ease;

        &:hover {
            background-color: #e0a800;
            // transform: translate(-3px);
        }
    }

    &__video {
        position: absolute;
        bottom: 50px;
        left: 0;
        display: flex;
        
    }
}
