.reviews { 
    &__header {
        margin-bottom: 50px;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__card {
        flex: 1;
        min-width: 480px;
        display: flex; 
        align-items: flex-start;
        gap: 30px;
    }

    &__photo {
        width: 190px;
        height: 190px;
        flex-shrink: 0;
        border-radius: 5px;
        background-color: #ccc;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__text {
        font-size: 15px;
        color: $color-secondary;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    &__name {
        font-family: $font-title;
        font-size: 16px;
        font-weight: 700;
        color: $color-primary;
        margin-bottom: 5px;
        text-transform: capitalize;
    }

    &__location {
        display: block;
        font-size: 14px;
        color: $color-text;
    }
}
